/* Smartphone adaptation*/
@media screen and (max-width: 1000px){
	#about{
		margin-top: 100px;
	}

	.title{
		margin: 2% auto auto auto;
	}

	.quote{
		margin: 6% auto 20% 8%;
	}

	.skills{
		margin: 0 auto 0 auto;
	}

	.photo--container{
		margin: auto;
		display: block;
		text-align: center;
	}


	.terminal--container{
		margin: 3% auto 2% auto;
		display: block;
	}

}

@media screen and (min-width: 1000px){
	.skills{
		margin-right: 7%;
	}

	#about{
		width: 1000px;
		margin: auto auto 10% auto;
	}

	.title{
		margin: 2% 0 0 0; 
	}

	.quote{
		margin: 3% auto 10% 8%;
	}

	.photo--container{
		display: inline-block;
		margin-left: 7%;
	}

	.terminal--container{
		margin: 3% 0 2% 0;
		display: inline-block;
	}

	.project--container{
		width: 1000px;
	}


	.blender--project{
	height: 240px;
	width: 850px;
	background-color: white;
	border-radius: 2px;
	border-bottom: 5px solid #5B59FC;
	border-top: 5px solid #5B59FC;
	position: relative;
}

.ghoul--div{
	height: 240px;
	width: auto;
	float: left;
}

.blender--text{
	width: 350px;
	height: 240px;
	background-color: white;
	float: left;
}

.blender--text p{
	font-family: 'Roboto Medium', sans-serif;
	font-size: 35px;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	color: #00E676;
	border-bottom: 5px solid #FF999A;
	padding-bottom: 5px;
}

.track--div{
	height: 240px;
	float: right;
}

.click--go{
	position: absolute;
	bottom: 39px;
	left: 450px;
}


.java--project{
	margin-top: 3%;
	position: relative;
	width: 300px;
	height: 250px;
	border-radius: 2%;
	background-color: #00E676;
}

.title--java{
	font-family: 'Roboto Medium', sans-serif;
	font-size: 30px;
	color: white;
	margin: 20px 50px 0 50px;
	padding-bottom: 10px;
}

.brush--container{
	position: absolute;
	top: 90px;
	left: 115px;	
	height: 70px;
	width: 70px;
	border: 5px solid #5B59FC;
	align-items: center;
	border-radius: 50%;
}

.brush--container img{
	margin-top: 10px;
}

.btn__container{
	padding-top: 10px;
	border-top: 5px solid #FF999A;;
	position: absolute;
	bottom: 5px;
	left: 85px;
	display: block;
}

span.subtitle{
	color: white;
	font-size: 18px;
	font-family: 'Roboto Medium', sans-serif;
	float: right;
	line-height: 35px;
}



.drone--project{
	margin: 3% 0 0 5%;
	position: relative;
	width: 500px;
	height: 245px;
	border-radius: 2%;
	background-color: white;
	display: block;
	border-top: 5px solid #FF999A;
}

.text--drone{
	position: absolute;
	height: 50px;
	width: 475px;
	bottom: 0px;
	text-align: left;
	background-color: #00E676;
	border-left: 25px solid #5B59FC;
	border-radius: 2%;
}

.button--go{
	position: absolute;
	bottom: 7px; left: 0px;
}

.text--drone p{
	margin: 15px 0 0 15px;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 20px;
	color: #FFF;
	font-weight: 900px;
}


.mbda--project{
	position: relative;
	width: 50%;
	height: 250px;
	margin-top: 3%;
	background-color: #00E676;
}

.web--ic{
	position: absolute;
	top: 110px; right: 10px;
	border-bottom: 4px solid white;
}

.gif--cont{
	height: 250px;
	float: left;
	border-left: 5px solid #FF999A;
	border-right: 5px solid #FF999A;
}


.visu--project{
	width: 295px;
	height: 250px;
	background-color: #5B59FC;
	border-radius: 2px;
	margin-top: 3%;
	margin-left: 5%;
	border-left: 5px solid #00E676;
}

.img--cont{
	margin-top: 20px;
}

.pyth--text{
	position: relative;
}

.pyth--text p{
	font-size: 20px;
	font-family: 'Roboto Medium', sans-serif;
	color: white;
	margin: 0 auto auto 20px;
	text-align: left;
	line-height: 30px;
}

.git--div{
	position: absolute;
	right: 95px;
	top: 26px;
}

}

@media screen and (max-width: 550px) {
	.terminal--container{
		display: none;
	}

	.terminal--header{
		display: none;
	}

	.terminal{
		display: none;
	}

	.skills{
		margin: 0 auto 0 auto;
	}

	.quote{
		margin: 3% auto 35% 8%;
	}

	.div__contact{
		display: none;
	}

	.contacts{
		display: none;
	}

	.btn__container2{
		margin: 2% auto 50px auto;
		text-align: center;
	}
}

@media screen and (min-width: 550px){
	.btn__container2{
		margin: 2% auto 50px auto;
	}

	.btn__resume{
		margin-left: 8%;
	}
}



	








body{
	top: 0; left: 0;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

.header{
	top: 0;
	position: fixed;
	background-color: white;
	height: 60px;
	width: 100%;
	text-align: center;
	box-shadow: 1px 1px #BDBDBD;
	z-index: 1000;
}

.center--head{
	position: relative;
	height: 60px;
	width: 1000px;
	margin: 0 auto 0 auto;
	z-index: 1001;
}

.topnav a.icon{
	display: none;
}

.logo{
	margin-top: -20px;
	float: left;
}

.topnav{
	margin: 18px 0 0 400px;
}

a.nav__item{
	text-align: center;
	color: #616161;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 25px 1% 16px 1%;
}


.topnav a:hover:not(.active) {
    color: white;
	background-color: #00E676;
	border-bottom: 5px solid #FF999A;
   }

.topnav a.active{
	color: white;
	background-color: #00E676;
	border-bottom: 5px solid #FF999A;

}


.hero--container{
	margin-top: 6%;
}



.title{
	width: 320px;
	text-decoration: none;
	font-weight: 400;
	font-family: 'Roboto Light', sans-serif;
	font-size: 60px;
	color: #616161;
	border-left: 30px solid #5B59FC;
	border-bottom: 5px solid #00E676;
	letter-spacing: -1.5;
}

.quote{
	position: relative;
}

.quote--logo{
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #5B59FC;
}

.quote--text{
	position: absolute;
	top: 0; left: 60px;
	color: #616161;
	font-family: 'Roboto Light', sans-serif;
	font-size: 20px;
}

.terminal--container{
	max-width: 500px;
}

.terminal--header{
	background-color: #E0E8F0;
	height: 30px;
	border-radius: 8px 8px 0 0;
	padding-left: 10px;
}

.green--button{
	background-color: #3BB662;
	height: 12px;
	width: 12px;
	margin: 10px 4px 0 0;
	display: inline-block;
	border-radius: 8px;
}

.yellow--button{
	background-color: #E5C30F;
	height: 12px;
	width: 12px;
	margin: 10px 4px 0 0;
	display: inline-block;
	border-radius: 8px;
}

.red--button{
	background-color: #E75448;
	height: 12px;
	width: 12px;
	margin: 10px 4px 0 0;
	display: inline-block;
	border-radius: 8px;
}

.terminal{
	background-color: #30353A;
	font-size: 15px;
	font-family: 'Source Code Pro', ;
	padding: 10px;
	color: white;
	padding-bottom: 30px;
}

span.gray{
	color: gray;
}



span.typed-cursor{
	 animation: blink 0.7s infinite;
}

.photo--container{
	border-radius: 200px;
}
	



.skills--container{
	margin: 8% auto auto auto;
	padding-bottom: 1%;
	width: 100%;
	box-shadow: 0 1px 0 0 #BDBDBD;
}

.grid--skills{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.skills{
	width: 250px;
}

.ia--skills{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 4%;
}

.title--item{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: left;
	padding-bottom: 3px;
	border-bottom: 5px solid #FF999A;
	color: #00E676;
}

.items{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 10% 0 0 20%; 
	text-align: left;
}

.es--skills{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 4%;
}

.web--skills{
	width: 250px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 4%;
}

.app--skills{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 4%;
}

.tools--skills{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 4%;
}

.language--skills{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 4%;
}



.btn__resume{
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	background-color: #00E676;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	box-shadow: 2px 2px #E0E0E0;
}

.div__contact{
	float: left;
    width: 32px;
    height: 20px;
    background-color: #5B59FC;

    clip-path: polygon(100% 0, 0 0, 50% 100%);

}










.project--container{
	margin: auto;
	margin-bottom: 2%;
}








.experience--cont{
	height: 100vh;
	width: 1000px;
	margin: auto;
}

.nokia--cont{
	height: 350px;
	width: 100%;
	margin: auto;
	background-color: #00E676;
}

.nokia--logo--cont{
	border-radius: 5px;
	float: left;
}

.nokia--logo--cont img{
	border-radius: 5px;
}

.job--details{
	position: relative;
}

.comp--name{
	position: absolute;
	font-size: 20px;
	font-family: 'Roboto Medium', sans-serif;
	margin-left: 180px;
	top: 30px;
	color: #00E676;
	border-bottom: 3px solid #FF999A;
}

.task--detail{
	position: absolute;
	font-size: 15px;
	font-family: 'Roboto Medium', sans-serif;
	margin-left: 180px;
	top: 60px;
	width: 600px;
}


.btn__container2{
	display: block;

}


.dl__btn{
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	background-color: #00E676;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	box-shadow: 2px 2px #E0E0E0;

}

.web__btn{
	color: white;
	text-decoration: none;
	padding: 10px;
	margin-left: 2%;
	border-radius: 6px;
	background-color: #616161;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	box-shadow: 2px 2px #E0E0E0;
}








.bgimg {
	margin-top: 4%;
  /* Add a white text color to all elements inside the .bgimg container */
	color: #616161;;
  /* Add a font */
  font-family: "Roboto", sans-serif;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}






.btn__ai{
	display: block;
	margin: 0 0 0 8%;

}

.google__btn{
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	background-color: #00E676;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	box-shadow: 2px 2px #E0E0E0;
}

.contacts{
	bottom: 0; 
	z-index: 9;
	box-shadow: 0 -1px 0 0 #BDBDBD;
	background-color: white;
}


.container{
	bottom: 0;
	width: 100%;
	height: 150px;
	text-align: center;
}

.item{
	margin: 50px 15px; 
}

.text--made{
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-align: center;
	padding-bottom: 2%;
}


